package $packageName;

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import javax.annotation.Resource;
import javax.validation.Valid;
import java.util.List;


@RestController
@RequestMapping("/${table.tableNameVariable}")
public class $className {

    @Resource
    ${table.tableNameClass}Service ${table.tableNameVariable}Service;

    @RequestMapping("/get")
    public BaseResponseDto get(Integer id) {
        Get${table.tableNameClass}ResponseDto.DtoData dtoData = ${table.tableNameVariable}Service.queryById(id);
        if(dtoData == null) {
            throw new ATSException(RESP_CODE_SYSTEM_ERROR);
        }

        return new Get${table.tableNameClass}ResponseDto(dtoData);
    }

    @RequestMapping("/list")
    public BaseResponseDto list(@Valid List${table.tableNameClass}RequestDto list${table.tableNameClass}RequestDto) {
        return new List${table.tableNameClass}ResponseDto(${table.tableNameVariable}Service.list(list${table.tableNameClass}RequestDto));
    }

    @RequestMapping("/create")
    public BaseResponseDto create(@Valid Create${table.tableNameClass}RequestDto create${table.tableNameClass}RequestDto) {
        ${table.tableNameVariable}Service.create(create${table.tableNameClass}RequestDto);
        return ResponseUtil.SUCCESS_DTO;
    }

    @RequestMapping("/update")
    public BaseResponseDto update(@Valid Update${table.tableNameClass}RequestDto update${table.tableNameClass}RequestDto) {
        ${table.tableNameVariable}Service.update(update${table.tableNameClass}RequestDto);
        return ResponseUtil.SUCCESS_DTO;
    }
}
