package $packageName;

import lombok.Data;
import lombok.EqualsAndHashCode;

import java.time.LocalDateTime;
import java.util.List;

@Data
@EqualsAndHashCode(callSuper = true)
public class $className extends BaseResponseDto {

    DtoData data;

    public $className(DtoData dtoData) {
        this.data = dtoData;
    }

    @Data
    public static class DtoData {
        Integer pageCount;
        List<Record> list;

        public DtoData(Integer pageCount, List<Record> list) {
            this.pageCount = pageCount;
            this.list = list;
        }
    }

    @Data
    public static class Record {
#foreach ($column in ${table.columnList})
#if(${column.columnType} == 'LocalDateTime')
        @JsonFormat(pattern = Constant.TIME_PATTERN)
#end
#if(${column.columnNameDb} == 'status')
        private ${table.tableNameClass}Status ${column.columnNameVariable};
#else
        private ${column.columnType} ${column.columnNameVariable};
#end
#end
    }
}
