package $packageName;

import lombok.Data;
import lombok.EqualsAndHashCode;

import java.time.LocalDateTime;
import java.util.ArrayList;

@Data
@EqualsAndHashCode(callSuper = true)
public class $className extends BaseResponseDto {

    DtoData data = new DtoData();

    @Data
    public static class DtoData {
        Integer pageCount;
        ArrayList<Record> list = new ArrayList<>();
    }

    @Data
    public static class Record {
#foreach ($column in ${table.columnList})
#if(${column.columnType} == 'LocalDateTime')
        @JsonFormat(pattern = Constant.TIME_PATTERN)
#end
#if(${column.columnNameDb} == 'status')
        private ${table.tableNameClass}Status ${column.columnNameVariable};
#else
        private ${column.columnType} ${column.columnNameVariable};
#end
#end
    }
}
