package $packageName;

import lombok.Data;
import lombok.EqualsAndHashCode;

import java.time.LocalDateTime;

@Data
@EqualsAndHashCode(callSuper = true)
public class $className extends BaseRequestDto {
#foreach ($column in ${table.columnList})
    private ${column.columnType} ${column.columnNameVariable};
#end
}
